/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "shapes";
@use "typography";

.mat-mdc-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mdc-dialog__content {
    overflow: visible;
}

h1 {
    @include typography.font-style(22px, typography.$semi-bold, normal, 0);
}
