/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "primary";
@use "typography";

.content-wrapper {
    @include typography.p3;
    color: primary.$grey;
    padding-bottom: 24px;
    width: 100%;
}

.button-section {
    display: flex;
    width: 100%;
    gap: 14px;
    margin-top: 24px;
}

mat-form-field {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}
