/*!/*
 * This unpublished material is proprietary to Vaticle.
 * All rights reserved. The methods and
 * techniques described herein are considered trade secrets
 * and/or confidential. Reproduction or distribution, in whole
 * or in part, is forbidden except by express written permission
 * of Vaticle.
 */

@use "primary";
@use "typography";

.content-wrapper {
    @include typography.p3;
    color: primary.$grey;
    padding-bottom: 24px;
    width: 100%;
}

.button-section {
    display: flex;
    width: 100%;
    gap: 14px;
    margin-top: 24px;
}

mat-form-field {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}
