$spacing: 8px;

/**
 * Content Layout
 */
.content {
	display: flex;
  flex-flow: column nowrap;
}
.row {
	flex: 1;
	display: flex;
	flex-flow: row nowrap;
	&.resizable {
        flex: 0 0 360px;
    }
}
.cell {
	box-sizing: border-box;
	background: #fff;
	border: $spacing/2 solid #f0f0f0;
	flex: 1;
	min-height: 60px;
	&.resizable {
        flex: 0 0 360px;
    }
}

/**
 * Resizable Handles
 */
.resizable {
  position: relative;
  &.no-transition {
      transition: none !important;
  }
}
.rg-none {
  display: none;
}
.rg-right, .rg-left, .rg-top, .rg-bottom {
  display: block;
  width: $spacing;
  height: $spacing;
  line-height: $spacing;
  user-select: none;
  background: transparent;
  position: absolute;
  z-index: 1;
  span {
      display: none;
  }
}
.rg-right, .rg-left {
  span {
      display: none;
  }
}
.rg-top, .rg-bottom {
  span {
      display: none;
  }
}
.rg-top     {
  cursor: row-resize;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: -#{$spacing/2};
}
.rg-right   {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  margin-right: -#{$spacing};
}
.rg-bottom  {
  cursor: row-resize;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: -#{$spacing/2};
}
.rg-left    {
  cursor: col-resize;
  height: 100%;
  left: 0;
  top: 0;
  margin-left: -#{$spacing};
}

/**
 * Column Layout Overrides
 */
.content.cols {
    flex-flow: row nowrap;
  .row {
    flex-flow: column nowrap;
  }
  .cell {
    min-width: 60px;
  }
  .rg-top     {
    margin-top: -#{$spacing};;
  }
  .rg-right   {
    margin-right: -#{$spacing/2};
  }
  .rg-bottom  {
    margin-bottom: -#{$spacing};
  }
  .rg-left    {
    margin-left: -#{$spacing/2};
  }  
}