[submodule "typedb-web"]
	path = typedb-web
	url = https://github.com/typedb/typedb-web.git
[submodule "typedb-graph-utils"]
	path = typedb-graph-utils
	url = https://github.com/alexjpwalker/typedb-graph-utils.git
