/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "shapes";

@use "typography";

:host {
    height: min-content;
    white-space: nowrap;
}

.primary-outline {
    background-color: transparent;
    font-weight: var(--font-weight-medium);

    &.white {
        color: var(--theme-white);
    }
    &.green {
        color: var(--theme-green);
    }
    &.red {
        color: var(--theme-red);
    }
    &.white:hover:enabled {
        background-color: var(--theme-white-015);
    }
    &.red:hover:enabled {
        background-color: var(--theme-red-015);
    }
    &.green:hover:enabled {
        background-color: var(--theme-green-015);
    }
    &.white:active,
    &.red:active,
    &.green:active {
        background-color: transparent;
        opacity: 80%;
    }
    &.white:disabled,
    &.red:disabled,
    &.green:disabled {
        background-color: transparent;
        opacity: 38%;
    }
}

.secondary.stroke {
    color: var(--theme-grey);
}

.secondary:not(.stroke) {
    color: var(--theme-grey);
    font-weight: var(--font-weight-regular);
    padding: 6px 8px;
    border-radius: shapes.$border-radius-small;
    display: flex;
    align-items: center;
    @include typography.p3;

    &:enabled {
        &:hover {
            background: var(--theme-secondary-purple);
        }
        &:active, &.active {
            background: var(--theme-light-purple);
        }
    }

    &:disabled {
        color: var(--theme-secondary-deep-grey);

        ::ng-deep i {
            color: var(--theme-secondary-mid-deep-grey);
        }
    }
}

button {
    width: 100%;
    justify-content: center;
    font-family: inherit;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: shapes.$border;
    border-color: transparent;
    border-radius: shapes.$border-radius-small;
    background-color: transparent;
    padding: 0 12px;
    &.stroke {
        border-color: currentColor;
    }

    &.grey-stroke {
        border-color: var(--theme-secondary-mid-deep-grey);
        &:hover:not(:disabled) {
            border-color: var(--theme-secondary-light-grey);
        }
    }
}

:host ::ng-deep {
    i {
        font-size: 16px;
        margin-right: 8px;
        white-space: nowrap;
    }
}
