/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */


@use "shapes";



@mixin host-color-style($class, $base-color) {
    &.#{$class} {
        border-color: $base-color;
        background: var(--theme-black);
        box-shadow: inset 0 0 0 1px $base-color;

        .sb-text i {
            color: $base-color;
        }
    }
}

:host {
    margin: 24px;
    width: 480px;
    border-radius: shapes.$border-radius;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    @include host-color-style(ok, var(--theme-green));
    @include host-color-style(info, var(--theme-secondary-blue));
    @include host-color-style(warn, var(--theme-secondary-yellow));
    @include host-color-style(error, var(--theme-red));

    p + p {
        margin-top: 0.5em;
    }
}

:host-context(.mat-mdc-snack-bar-handset) {
    width: 100%;
    margin: 0;
}

.sb-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sb-text {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--theme-white);

    i {
        flex-shrink: 0;
    }
}

.sb-action {
    align-self: flex-start;
}

.truncated-indicator {
    color: var(--theme-grey);
    font-style: italic;
}

.sb-button i {
    color: var(--theme-white-08);
}
