version: 2.1
commands:
  bazel_install:
    steps:
      - run:
          name: Bazel - Install
          command: |
            curl -OL https://github.com/bazelbuild/bazel/releases/download/0.20.0/bazel-0.20.0-installer-linux-x86_64.sh
            chmod +x bazel-0.20.0-installer-linux-x86_64.sh
            sudo ./bazel-0.20.0-installer-linux-x86_64.sh

  bazel-install-macos:
    steps:
      - run:
          name: Bazel - Install (macOS)
          command: |
            curl -OL https://github.com/bazelbuild/bazel/releases/download/0.20.0/bazel-0.20.0-installer-darwin-x86_64.sh
            chmod +x bazel-0.20.0-installer-darwin-x86_64.sh
            sudo ./bazel-0.20.0-installer-darwin-x86_64.sh

  bazel_add_rbe_credential:
    steps:
      - run:
          name: Bazel - Add RBE Credential
          command: |
            if [[ -n "$BAZEL_RBE_CREDENTIAL" ]]; then
              BAZEL_RBE_CREDENTIAL_LOCATION=~/.config/gcloud/application_default_credentials.json
              echo "An RBE credential is found and will be saved to $BAZEL_RBE_CREDENTIAL_LOCATION. Bazel will be executed with RBE support."
              mkdir -p ~/.config/gcloud/
              echo $BAZEL_RBE_CREDENTIAL > "$BAZEL_RBE_CREDENTIAL_LOCATION"
            else
              echo "No RBE credential found. Bazel will be executed locally without RBE support."
            fi

  bazel:
    parameters:
      command:
          type: string
    steps:
      - run:
          name: Bazel - Execute
          command: |
            if [[ -f ~/.config/gcloud/application_default_credentials.json ]]; then
              echo "Bazel will be executed with RBE support. This means the build is remotely executed and the cache will be re-used by subsequent CI jobs."
              CMD="<< parameters.command >> --config=rbe"
            else
              echo "Bazel will be executed locally (without RBE support)."
              CMD="<< parameters.command >>"
            fi
            echo "Executing $CMD"
            $CMD

  run-grakn-server:
    steps:
      - run: bazel build @graknlabs_grakn//:distribution
      - run: unzip bazel-genfiles/external/graknlabs_grakn/grakn-core-all.zip -d bazel-genfiles/dist/
      - run: nohup bazel-genfiles/dist/grakn-core-all/grakn server start
      - run: bazel-genfiles/dist/grakn-core-all/grakn console -f `pwd`/test/helpers/basic-genealogy.gql -k gene

jobs:
  test:
    machine: true
    working_directory: ~/grakn
    steps:
      - checkout
      - bazel_install
      # - bazel_add_rbe_credential
      - run: bazel run @nodejs//:npm install
      - run: sudo apt install xvfb libxtst6 libxss1 libgtk2.0-0 -y
      - run: sudo apt install libnss3 libasound2 libgconf-2-4 -y
      - run-grakn-server
      - run: Xvfb :99 &
      - run: export DISPLAY=:99
      - run: bazel run @nodejs//:npm test
      - run: bazel run @nodejs//:npm run e2e

  build-workbase-linux:
    machine: true
    working_directory: ~/grakn
    steps:
      - attach_workspace:
          at: ~/grakn
      - checkout
      - bazel_install
      - run:
          name: npm install
          command: bazel run @nodejs//:npm install
      - run:
          name: npm run build
          command: bazel run @nodejs//:npm run build
      # TODO: make a separate rule for building on Linux / use another naming scheme
      - run: mkdir -p ~/grakn/artifacts && mv ./build/*.tar.gz ~/grakn/artifacts/grakn-workbase-$(cat VERSION)-linux.tar.gz
      - persist_to_workspace:
          root: ~/grakn
          paths:
            - artifacts/*-linux.tar.gz
            - VERSION

  build-workbase-mac:
    macos:
        xcode: "9.0"
    working_directory: ~/grakn
    steps:
      - attach_workspace:
          at: ~/grakn
      - checkout
      - bazel-install-macos
      - run-grakn-server
      - run:
          name: npm install
          command: bazel run @nodejs//:npm install
      - run:
          name: npm run build
          command: CSC_LINK="$APPLE_CODE_SIGNING_CERTIFICATE_URL" CSC_KEY_PASSWORD="$APPLE_CODE_SIGNING_PASSWORD" bazel run @nodejs//:npm run build
      # - run:
      #     name: npm run e2e
      #     command: bazel run @nodejs//:npm run e2e
      - run: mkdir -p ~/grakn/artifacts && mv ./build/*.zip ~/grakn/artifacts/grakn-workbase-$(cat VERSION)-mac.zip
      - persist_to_workspace:
          root: ~/grakn
          paths:
            - artifacts/*-mac.zip

  publish-github-draft:
    docker:
      - image: cibuilds/github:0.10
    working_directory: ~/grakn
    steps:
      - attach_workspace:
          at: ~/grakn
      - run:
          name: "Publish Draft Release on GitHub"
          command: |
            ghr -t ${GRABL_CREDENTIAL} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete -draft $(cat VERSION) ./artifacts


workflows:
  version: 2
  # ci-pull-request:
  #   jobs:
  #     - test
  #     - build-workbase-mac
  #     - build-workbase-linux
  ci-release:
    jobs:
      - build-workbase-mac:
          filters:
            branches:
              only: trigger-ci-release
      - build-workbase-linux:
          filters:
            branches:
              only: trigger-ci-release
      - publish-github-draft:
          requires:
            - build-workbase-mac
            - build-workbase-linux
          filters:
            branches:
              only: trigger-ci-release
