# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

version: 2.1
orbs:
  win: circleci/windows@2.0.0

executors:
  linux-arm64:
    machine:
      image: ubuntu-2004:2023.10.1
      resource_class: arm.medium
    working_directory: ~/typedb-studio

  linux-x86_64:
    machine:
      image: ubuntu-2004:2023.10.1
    working_directory: ~/typedb-studio

  mac-arm64:
    macos:
      xcode: "13.4.1"
    resource_class: macos.m1.medium.gen1
    working_directory: ~/typedb-studio

  mac-x86_64:
    macos:
      xcode: "13.4.1"
    working_directory: ~/typedb-studio


commands:

  install-bazel-linux-x86_64:
    steps:
      - run: curl -OL https://github.com/bazelbuild/bazelisk/releases/download/v1.17.0/bazelisk-linux-amd64
      - run: sudo mv bazelisk-linux-amd64 /usr/local/bin/bazel
      - run: chmod a+x /usr/local/bin/bazel

  install-bazel-linux-arm64:
    steps:
      - run: curl -OL https://github.com/bazelbuild/bazelisk/releases/download/v1.17.0/bazelisk-linux-arm64
      - run: sudo mv bazelisk-linux-arm64 /usr/local/bin/bazel
      - run: chmod a+x /usr/local/bin/bazel

  install-bazel-mac:
    steps:
      - run: brew install bazelisk

  deploy-mac-snapshot:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          # TODO Temporary measure. This exists for two reasons:
          # 1) platform-jvm assembly rules currently requires the version to be specified in a version_file
          # 2) jpackage does not support 0 as a major version
          # This writes VERSION-SHA1 into the VERSION file to be used by the assembly rule.
          echo $(cat VERSION)-$CIRCLE_SHA1 > VERSION
          bazel run //:deploy-mac-<<parameters.target-arch>>-dmg --compilation_mode=opt --spawn_strategy=local -- snapshot

  deploy-mac-release:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          bazel run //:deploy-mac-<<parameters.target-arch>>-dmg --compilation_mode=opt \
              --define APPLE_CODE_SIGN=yes \
              --define APPLE_ID=$APPLE_ID \
              --define APPLE_ID_PASSWORD=$APPLE_ID_PASSWORD \
              --define APPLE_TEAM_ID=$APPLE_TEAM_ID \
              --define APPLE_CODE_SIGNING_CERT_PASSWORD=$APPLE_CODE_SIGNING_CERT_PASSWORD \
              --spawn_strategy=local -- release

  deploy-linux-snapshot:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          # TODO Temporary measure. This exists for two reasons:
          # 1) platform-jvm assembly rules currently requires the version to be specified in a version_file
          # 2) jpackage does not support 0 as a major version
          # This writes VERSION-SHA1 into the VERSION file to be used by the assembly rule.
          echo $(cat VERSION)-$CIRCLE_SHA1 > VERSION
          bazel run //:deploy-linux-<<parameters.target-arch>>-targz --compilation_mode=opt -- snapshot

  deploy-linux-release:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          bazel run //:deploy-linux-<<parameters.target-arch>>-deb --compilation_mode=opt -- release
          bazel run //:deploy-linux-<<parameters.target-arch>>-targz --compilation_mode=opt -- release

  deploy-apt-snapshot:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          bazel run //:deploy-apt-<<parameters.target-arch>> --compilation_mode=opt -- snapshot

  deploy-apt-release:
    parameters:
      target-arch:
        type: string
    steps:
      - run: |
          export DEPLOY_ARTIFACT_USERNAME=$REPO_TYPEDB_USERNAME
          export DEPLOY_ARTIFACT_PASSWORD=$REPO_TYPEDB_PASSWORD
          bazel run //:deploy-apt-<<parameters.target-arch>> --compilation_mode=opt -- release

jobs:
  deploy-mac-arm64-snapshot:
    executor: mac-arm64
    steps:
      - checkout
      - install-bazel-mac
      - deploy-mac-snapshot:
          target-arch: arm64

  deploy-mac-x86_64-snapshot:
    executor: mac-x86_64
    steps:
      - checkout
      - install-bazel-mac
      - deploy-mac-snapshot:
          target-arch: x86_64

  deploy-linux-arm64-snapshot:
    executor: linux-arm64
    steps:
      - checkout
      - install-bazel-linux-arm64
      - deploy-linux-snapshot:
          target-arch: arm64

  deploy-linux-x86_64-snapshot:
    executor: linux-x86_64
    steps:
      - checkout
      - install-bazel-linux-x86_64
      - deploy-linux-snapshot:
          target-arch: x86_64

  deploy-windows-x86_64-snapshot:
    executor:
      name: win/default
      shell: cmd.exe
    working_directory: ~/typedb-studio
    steps:
      - checkout
      - run: .circleci\windows\prepare.bat
      - run: .circleci\windows\deploy_snapshot.bat

  deploy-apt-arm64-snapshot:
    executor: linux-arm64
    steps:
      - checkout
      - install-bazel-linux-arm64
      - deploy-apt-snapshot:
          target-arch: arm64

  deploy-apt-x86_64-snapshot:
    executor: linux-x86_64
    steps:
      - checkout
      - install-bazel-linux-x86_64
      - deploy-apt-snapshot:
          target-arch: x86_64

  deploy-mac-arm64-release:
    executor: mac-arm64
    steps:
      - checkout
      - install-bazel-mac
      - deploy-mac-release:
          target-arch: arm64
      - run: |
          mkdir -p ~/dist && cp bazel-bin/typedb-studio-mac-arm64.dmg ~/dist
      - persist_to_workspace:
          root: ~/dist
          paths:
            - ./*

  deploy-mac-x86_64-release:
    executor: mac-x86_64
    steps:
      - checkout
      - install-bazel-mac
      - deploy-mac-release:
          target-arch: x86_64
      - run: |
          mkdir -p ~/dist && cp bazel-bin/typedb-studio-mac-x86_64.dmg ~/dist
      - persist_to_workspace:
          root: ~/dist
          paths:
            - ./*

  deploy-linux-arm64-release:
    executor: linux-arm64
    steps:
      - checkout
      - install-bazel-linux-arm64
      - deploy-linux-release:
          target-arch: arm64

  deploy-linux-x86_64-release:
    executor: linux-x86_64
    steps:
      - checkout
      - install-bazel-linux-x86_64
      - deploy-linux-release:
          target-arch: x86_64

  deploy-windows-x86_64-release:
    executor:
      name: win/default
      shell: cmd.exe
    working_directory: ~/typedb-studio
    steps:
      - checkout
      - run: .circleci\windows\prepare.bat
      - run: .circleci\windows\deploy_release.bat

  deploy-apt-arm64-release:
    executor: linux-arm64
    steps:
      - checkout
      - install-bazel-linux-arm64
      - deploy-apt-release:
          target-arch: arm64

  deploy-apt-x86_64-release:
    executor: linux-x86_64
    steps:
      - checkout
      - install-bazel-linux-x86_64
      - deploy-apt-release:
          target-arch: x86_64

  deploy-github:
    executor: linux-x86_64
    steps:
      - checkout
      - run:
          name: "Publish Draft Release on GitHub"
          command: |
            wget https://github.com/tcnksm/ghr/releases/download/v0.16.2/ghr_v0.16.2_linux_amd64.tar.gz
            tar -xf ghr_v0.16.2_linux_amd64.tar.gz
            ghr_v0.16.2_linux_amd64/ghr -t ${REPO_GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} \
              -r ${CIRCLE_PROJECT_REPONAME} -n "TypeDB Studio $(cat VERSION)" -b "$(cat ./RELEASE_NOTES_LATEST.md)" \
              -c ${CIRCLE_SHA1} -delete $(cat VERSION)

  deploy-brew:
    executor: linux-x86_64
    steps:
      - attach_workspace:
          at: ~/dist
      - checkout
      - install-bazel-linux-x86_64
      - run: |
          export DEPLOY_BREW_TOKEN=$REPO_GITHUB_TOKEN DEPLOY_BREW_USERNAME=$REPO_GITHUB_USERNAME DEPLOY_BREW_EMAIL=$REPO_GITHUB_EMAIL
          sha256sum ~/dist/typedb-studio-mac-arm64.dmg | awk '{print $1}' > checksum-arm64
          sha256sum ~/dist/typedb-studio-mac-x86_64.dmg | awk '{print $1}' > checksum-x86_64
          bazel run --define version=$(cat VERSION) //:deploy-brew --//:checksum-mac-arm64=:checksum-arm64 --//:checksum-mac-x86_64=:checksum-x86_64 --compilation_mode=opt -- release

  release-cleanup:
    machine:
      image: ubuntu-2004:202101-01
    steps:
      - checkout
      - run: git push --delete https://$REPO_GITHUB_TOKEN@github.com/vaticle/typedb-studio.git $CIRCLE_BRANCH

workflows:
  snapshot:
    jobs:
      - deploy-linux-arm64-snapshot:
          filters:
            branches:
              only: [master, development]
      - deploy-linux-x86_64-snapshot:
          filters:
            branches:
              only: [master, development]
      - deploy-mac-arm64-snapshot:
          filters:
            branches:
              only: [master, development]
      - deploy-mac-x86_64-snapshot:
          filters:
            branches:
              only: [master, development]
      - deploy-windows-x86_64-snapshot:
          filters:
            branches:
              only: [master, development]
      - deploy-apt-arm64-snapshot
#          filters:
#            branches:
#              only: [master, development]
      - deploy-apt-x86_64-snapshot
#          filters:
#            branches:
#              only: [master, development]
  release:
    jobs:
      - deploy-linux-arm64-release:
          filters:
            branches:
              only: release
      - deploy-linux-x86_64-release:
          filters:
            branches:
              only: release
      - deploy-mac-arm64-release:
          filters:
            branches:
              only: release
      - deploy-mac-x86_64-release:
          filters:
            branches:
              only: release
      - deploy-windows-x86_64-release:
          filters:
            branches:
              only: release
      - deploy-github:
          filters:
            branches:
              only: release
          requires:
            - deploy-linux-arm64-release
            - deploy-linux-x86_64-release
            - deploy-mac-arm64-release
            - deploy-mac-x86_64-release
            - deploy-windows-x86_64-release
      - deploy-apt-arm64-release:
          filters:
            branches:
              only: release
          requires:
            - deploy-linux-arm64-release
      - deploy-apt-x86_64-release:
          filters:
            branches:
              only: release
          requires:
            - deploy-linux-x86_64-release
      - deploy-brew:
          filters:
            branches:
              only: release
          requires:
            - deploy-mac-arm64-release
            - deploy-mac-x86_64-release
      - release-cleanup:
          filters:
            branches:
              only: release
          requires:
            - deploy-github
            - deploy-brew
