#
# Copyright (C) 2021 Vaticle
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#

version: 2.1
orbs:
  win: circleci/windows@2.0.0
commands:

  install-bazel-linux-rbe:
    steps:
      - run: curl -OL https://raw.githubusercontent.com/vaticle/dependencies/master/tool/bazelinstall/linux.sh
      - run: bash ./linux.sh && rm ./linux.sh
      - run: curl -OL https://raw.githubusercontent.com/vaticle/dependencies/master/tool/bazelinstall/rbe.sh
      - run: bash ./rbe.sh && rm ./rbe.sh

  install-bazel-mac:
    steps:
      - run: curl -OL https://raw.githubusercontent.com/vaticle/dependencies/master/tool/bazelinstall/mac.sh
      - run: bash ./mac.sh && rm ./mac.sh

  run-bazel:
    parameters:
      command:
        type: string
    steps:
      - run:
          command: bazel run @vaticle_dependencies//tool/bazelrun:rbe -- << parameters.command >>
          no_output_timeout: 120m

jobs:
  deploy-mac-and-brew:
    macos:
      xcode: "10.2.1"
    working_directory: ~/typedb-workbase
    steps:
      - install-bazel-mac
      - checkout
      - run: brew install nvm
      - run: mkdir ~/.nvm
      - run: echo 'export NVM_DIR="$HOME/.nvm"' >> ~/.bash_profile
      - run: echo '[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && . "$(brew --prefix)/opt/nvm/nvm.sh"' >> ~/.bash_profile
      - run: nvm install 15.11.0
      - run: nvm use 15.11.0
      - run: npm install -g yarn
      - run: yarn
      - run: |
          export CSC_LINK=$APPLE_CODE_SIGNING_CERTIFICATE_URL
          export CSC_KEY_PASSWORD=$APPLE_CODE_SIGNING_PASSWORD
          yarn package
      - run: |
          echo "Creating release notes..."
          export RELEASE_NOTES_TOKEN=$REPO_GITHUB_TOKEN
          bazel run @vaticle_dependencies//tool/release:create-notes -- typedb-workbase $(cat VERSION) ./RELEASE_TEMPLATE.md
          export DEPLOY_GITHUB_TOKEN=$REPO_GITHUB_TOKEN
          echo "Deploying to GitHub..."
          bazel run //:deploy-github-mac $CIRCLE_SHA1
          echo "Deploying to Homebrew..."
          export DEPLOY_BREW_TOKEN=$REPO_GITHUB_TOKEN DEPLOY_BREW_USERNAME=$REPO_GITHUB_USERNAME DEPLOY_BREW_EMAIL=$REPO_GITHUB_EMAIL
          bazel run --define version=$(cat VERSION) //:deploy-brew -- release

  build-windows:
    executor:
      name: win/default
      shell: cmd.exe
    working_directory: ~/typedb-workbase
    steps:
      - checkout
      - run: .circleci\windows\prepare.bat
      - run: nvm install 15.11.0
      - run: nvm use 15.11.0
      - run: npm install -g yarn
      - run: yarn
      - run: yarn package
      - persist_to_workspace:
          root: ./release/
          paths:
            - ./*

  deploy-windows:
    machine:
      image: ubuntu-2004:202101-01
    working_directory: ~/typedb-workbase
    steps:
      - checkout
      - attach_workspace:
          at: ./release/
      - install-bazel-linux-rbe
      - run: |
          export RELEASE_NOTES_TOKEN=$REPO_GITHUB_TOKEN
          bazel run @vaticle_dependencies//tool/release:create-notes -- typedb-workbase $(cat VERSION) ./RELEASE_TEMPLATE.md
          export DEPLOY_GITHUB_TOKEN=$REPO_GITHUB_TOKEN
          bazel run //:deploy-github-windows $CIRCLE_SHA1

workflows:
  typedb-workbase:
    jobs:
      - deploy-mac-and-brew:
          filters:
            branches:
              only: typedb-workbase-release-mac-windows-branch
      - build-windows:
          filters:
            branches:
              only: typedb-workbase-release-mac-windows-branch
      - deploy-windows:
          requires:
            - build-windows
          filters:
            branches:
              only: typedb-workbase-release-mac-windows-branch
