<mat-sidenav-container>
  <mat-sidenav class="left" disableClose mode="side" opened>
    <div class="tp-sidenav-container left" [ngClass]="{ 'collapsed': leftSidebarState === 'collapsed', 'initializing': initializing }" >
      <ts-sidebar (expandedStateChange)="leftSidebarState = $event"/>
    </div>
  </mat-sidenav>

  <mat-sidenav-content [@sidebarLeftMargin]="sidebarLeftMarginAnimationState">
    @switch (pageAvailability) {
      @case ("ready") {
        <div #actionBar [class]="actionBarClass">
<!--          @if (!hideTransactionWidget) {-->
<!--            <ts-transaction-widget/>-->
<!--          }-->
          <ts-connection-widget [condensed]="false"/>
          <ng-content select="[actionBar]"/>
          <div class="flex-spacer"></div>
<!--          <a href="https://typedb.com/blog/" target="_blank">-->
<!--            <tp-button buttonId="actionBarNews" buttonStyle="secondary">-->
<!--              <i class="fa-light fa-bullhorn"></i>-->
<!--              News-->
<!--            </tp-button>-->
<!--          </a>-->
          <tp-button buttonId="actionBarSupport" buttonClass="ask-typedb-ai" buttonStyle="secondary">
            <span>AI Support</span><i class="fa-light fa-circle-question"></i>
          </tp-button>
          <tp-button buttonId="actionBarSupport" buttonStyle="secondary" [buttonClass]="rightSidebar.opened ? 'active' : ''" (click)="rightSidebar.toggle(undefined, 'mouse')">
            <span>Learn</span><i class="fa-light fa-graduation-cap"></i>
          </tp-button>
        </div>
        <ng-content/>
      }
      @case ("loading") {
        <tp-spinner/>
      }
      @case (null) {
        <tp-spinner/>
      }
      @default {
      }
    }
  </mat-sidenav-content>

  <mat-sidenav class="right" disableClose #rightSidebar mode="side" position="end">
    <div class="tp-sidenav-container right"><tp-right-sidebar/></div>
  </mat-sidenav>
</mat-sidenav-container>
