/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";
@use "shapes";

.tp-sidenav-container {
    border: shapes.$border;
    height: 100%;
    padding: 16px;

    transition: width 250ms ease;

    &.initializing {
        transition: none;
    }

    &.left {
        width: 256px;
        border-radius: shapes.$border-radius;

        &.collapsed {
            width: 68px;
        }
    }

    &.right {
        width: 320px;
    }
}

//mat-sidenav-content {
//    transition: margin-left 250ms ease;
//    transition-duration: 0s;
//}

mat-sidenav {
    padding-top: 16px;
    padding-bottom: 16px;

    &.left {
        padding-left: 16px;
        padding-right: 16px;

        .tp-sidenav-container {
            @include colors.light-source-gradient(rgba(colors.$green, 0.08), colors.$purple, $left: 30%, $top: 20%);
        }
    }

    &.right {
        padding: 0;

        .tp-sidenav-container {
            @include colors.light-source-gradient(rgba(colors.$green, 0.08), colors.$purple, $left: 70%, $top: 80%);
        }
    }
}

ts-transaction-widget {
    margin-right: 24px;
}

tp-button i {
    width: 14px;
    height: 14px;
    font-size: 14px;
    margin-right: 0;
    margin-left: 6px;
}

@keyframes beacon {
    0% { opacity: 1 }
    10% { opacity: 1 }
    50% { opacity: 0 }
    90% { opacity: 1 }
    100% { opacity: 1 }
}

