/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "shapes";
@use "colors";

@use "typography";

:host {
    display: inline-block;
}

@mixin chip($content, $text-color) {
    padding: 0 5px 2px 5px;
    background: colors.$secondary-deep-grey;
    color: $text-color;
    border-radius: shapes.$border-radius-small;
    content: $content;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    white-space: nowrap;
}

@mixin coming-soon-chip {
    @include chip("coming soon", colors.$white);
}

@mixin active-chip {
    @include chip("active", colors.$green);
}

.integration-card {
    @include shapes.standard-border;
    background-color: colors.$deep-purple;
    padding: 16px;
    min-width: 340px;
    max-width: 400px;
    position: relative;
    align-items: center;
    display: flex;
    gap: 16px;

    &:not(.disabled) {
        cursor: pointer;
    }

    &:hover:not(.disabled) {
        border-color: colors.$green;
    }

    &.disabled {
        img, i, .integration-info {
            opacity: 25%;
        }
    }

    img { width: 64px; }

    i {
        width: 64px;
        height: 64px;
        font-size: 56px;
    }

    &.integration-card-coming-soon::after {
        position: absolute;
        top: 4px;
        right: 3px;
        @include coming-soon-chip;
    }

    &.integration-card-active::after {
        position: absolute;
        top: 4px;
        right: 3px;
        @include active-chip;
    }

    .integration-info {
        width: 100%;
        gap: 8px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .integration-link {
        text-decoration: underline;
        color: colors.$green;
        text-align: left;
    }
}

