<div class="detail-panel">
  <div class="detail-content">
    @if (loading) {
      <div class="loading-container">
        <mat-spinner diameter="40"></mat-spinner>
      </div>
    } @else {
      <!-- Attributes Section -->
      <div class="detail-section">
        <h6>Attributes</h6>
        @if (attributes.length === 0) {
          <p class="text-muted">No attributes</p>
        } @else {
          <table class="attributes-table">
            <colgroup>
              <col style="width: 180px;">
              <col>
            </colgroup>
            <tbody>
              @for (attr of attributes; track attr.type) {
                <tr>
                  <td class="attr-label">{{ attr.type }}</td>
                  <td class="attr-value">
                    @for (value of attr.values; track $index) {
                      <div class="value-row">{{ value }}<button
                          class="copy-button"
                          (click)="copyValue(value, tooltip)"
                          matTooltip="Copied"
                          matTooltipPosition="above"
                          matTooltipShowDelay="999999"
                          #tooltip="matTooltip"><i class="fa-light fa-copy"></i></button></div>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }
      </div>

    }
  </div>
</div>
