/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";
@use "media";
@use "typography";
@use "shapes";

.query-page {
    height: calc(100% - 86px);
    gap: 4px !important;

    ::ng-deep app-drag-handle span {
        display: none;
    }
}

.tp-bento-container {
    gap: 16px;
}

.tool-windows {
    flex: 0 0 360px;
}

.main-panes {
    @media (max-width: media.$max-width-mobile) {
        margin-left: -8px;
    }
}

.main-panes, .right-panes {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px !important;
}

.history-pane, .query-pane, .results-pane {
    display: flex;
    flex-direction: column;
}

.results-pane mat-form-field {
    height: 100%;
}

.card {
    @include shapes.standard-border;
    border-radius: shapes.$border-radius;
    @include colors.light-source-gradient(colors.$purple, colors.$deep-purple);
    padding: 16px;
    position: relative;
    overflow: hidden;

    &.query-pane::before {
        content: '';
        position: absolute;
        width: 300%;
        height: 300%;
        top: -100%;
        left: -100%;
        background: radial-gradient(
                circle at center,
                colors.$light-purple 0%,
                transparent 30%
        );
        opacity: 0.75;
        animation: mobile-light-source 28s infinite ease-in-out;
        z-index: 1;
        pointer-events: none;
        transform: translate(25%, 25%);
    }

    // Rest of your card styles
    // ...

    &.query-pane {
        position: relative;
        background: colors.$deep-purple;
        z-index: 0; // Ensure this is lower than the pseudo-element
    }
}

@keyframes mobile-light-source {
    0%, 100% {
        transform: translate(20%, 12.5%);
    }
    12.5% {
        transform: translate(22.5%, 22.5%);
    }
    25% {
        transform: translate(7.5%, 25%);
    }
    37.5% {
        transform: translate(-12.5%, 17.5%);
    }
    50% {
        transform: translate(-15%, -2.5%);
    }
    62.5% {
        transform: translate(-12.5%, -15%);
    }
    75% {
        transform: translate(0%, -17.5%);
    }
    87.5% {
        transform: translate(10%, -10%);
    }
}

.card-header {
    h5, mat-button-toggle-group, button {
        z-index: 10;
    }
}

mat-button-toggle i {
    margin-right: 8px;
}

.card-header-wrapper {
    padding: 16px;

    .card-header {
        margin-bottom: 0;
    }
}

.schema-pane {
    display: flex;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

button {
    i.fa-play {
        margin: 0;
    }

    &:enabled i.fa-play {
        color: colors.$secondary-deep-green;
    }
}

.query-text-box {
    resize: none;
    font-family: "Monaco" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    letter-spacing: 0.02em !important;
}

.code-editor-container {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    border: 1px solid colors.$light-purple;
    background: colors.$black;
    z-index: 10;

    code-editor {
        height: 100%;
    }
}

.answers-outer-container {
    height: 100%;
    width: 100%;
    border: 1px solid colors.$light-purple;
    background: colors.$black;
    position: relative;
}

.answers-container {
    position: absolute;
    inset: 0;
    overflow: auto;
    scrollbar-width: thin;
}

.answers-structure-container {
    overflow: hidden;
    scrollbar-gutter: stable;
}

.answers-text-container {
    mat-form-field {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    ::ng-deep .mdc-text-field,
    ::ng-deep .mat-mdc-form-field-flex,
    ::ng-deep .mat-mdc-form-field-infix {
        width: 100%;
        height: 100%;
        padding: 0;
        --mdc-outlined-text-field-container-shape: 0;
    }

    ::ng-deep .mdc-notched-outline {
        display: none;
    }

    ::ng-deep .mdc-text-field {
        --mdc-outlined-text-field-input-text-color: #{colors.$secondary-pink};
        padding: 0;

        textarea {
            padding: 8px 14px;
        }
    }

    .answers-text-box {
        height: 100% !important;
        resize: none;
        scrollbar-width: thin;
        @include typography.code;
    }
}

.status-text-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.status-text {
    @include typography.p1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    z-index: 10; /* Ensure it's above the canvas elements */
    white-space: normal !important;
    overflow-wrap: break-word;
    padding: 10px;
    margin: 0;
}

.answers-placeholder-container {
    height: 100%;
    overflow: auto;
    border: 3px dashed colors.$light-purple;
    border-radius: shapes.$border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    background: colors.$black;
    --mat-button-filled-container-height: 40px;
}

#structureView {
    width: 100%;
    height: 100%;
    display: flex;
}

.history-pane {
    flex: 1;

    @media (max-width: media.$max-width-mobile) {
        display: none;
    }

    .history-container {
        height: 100%;
        width: 100%;
        overflow: auto;
        scrollbar-width: thin;
    }

    ol li {
        list-style: none;
        margin-top: 8px;

        aside {
            display: flex;
            align-items: center;

            .bullet {
                margin: 0 4px;
            }

            tp-spinner {
                width: unset;
            }

            .action-status {
                margin-left: 8px;
            }

            .action-status i {
                margin-left: 6px;
                font-size: 12px;

                &.fa-xmark {
                    color: #{colors.$red};
                    cursor: pointer;
                }
            }
        }

        .mat-divider {
            margin-top: 8px;
        }
    }

    mat-form-field {
        margin-top: 4px;

        textarea {
            resize: none;
            @include typography.code;
        }
    }

    .transaction-operation-type {
        min-width: 140px;
    }
}

.menu-content {
    aside {
        margin: 6px 16px;
        @include typography.aside;
    }

    mat-divider {
        margin: 4px 8px;
    }

    i {
        width: 14px;
        height: 14px;
        font-size: 14px;
    }

    i.fa-swap-arrows {
        margin-left: -3px;
        margin-right: 3px;
    }

    button {
        i.fa-trash-can {
            opacity: 0;
            transition: opacity 100ms;
        }

        &:hover {
            i.fa-trash-can {
                opacity: 1;
            }
        }
    }

    button.selected {
        color: colors.$green;

        i.fa-trash-can {
            color: colors.$grey;
        }
    }
}
