/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "typography";

:host {
    height: 100%;
}

section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page-not-found-section {
    text-align: center;
    font-style: normal;
}

.light-banner {
    @include typography.light-banner;
    margin-bottom: 16px;
}

.light-banner-subtitle {
    @include typography.subtitle;
    margin-bottom: 8px;
}

p {
    @include typography.p3;
}

tp-button {
    display: inline-block;
}
