@use "secondary";
@use "shapes";

.tooltip-container {
    border-radius: shapes.$border-radius;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 22px;
    background: secondary.$mid-deep-grey;

    ::ng-deep > div {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        ul, ol {
            margin-left: 12px;
        }

        code {
            font-size: inherit;
        }
    }

    p + p {
        margin-top: 0.5em;
    }
}
