<ts-page-scaffold [pageAvailability]="availability$ | async">
  <tp-form class="form" [formGroup]="form" [isSubmitting$]="isSubmitting$" (doSubmit)="submit()">
    <h1>Connect TypeDB server</h1>
    <div class="form-input-block">
      <tp-form-toggle-group class="advanced-config-toggle" [form]="form" field="advancedConfigActive" [options]="advancedConfigActiveOptions" />
    </div>
    @if (form.value.advancedConfigActive) {
      <div class="form-input-block">
        <div class="form-input-row-description"><p>Specify connection parameters</p></div>
        <div class="form-input-group">
          <div class="help-input-row">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput [formControl]="advancedForm.controls.address" autocomplete="url">
              <div class="tp-password-input-suffix" matSuffix>
                <div class="regenerate-id-button" type="button">
                  <i class="help-tooltip-button fa-light fa-circle-question" richTooltip [richTooltipContent]="addressHelpTooltipContent"></i>
                </div>
              </div>
              @if (advancedForm.controls.address.getError("errorText")) {
                <mat-error>{{ advancedForm.controls.address.getError("errorText") }}</mat-error>
              }
            </mat-form-field>
          </div>
          <tp-form-input [form]="advancedForm" field="username" label="Username"/>
          <div class="help-input-row">
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput [formControl]="advancedForm.controls.password" [type]="passwordRevealed ? 'text' : 'password'">
              <div class="tp-password-input-suffix" matSuffix>
                <button type="button" tabindex="-1" mat-icon-button (click)="passwordRevealed = !passwordRevealed" aria-label="Hide password" aria-pressed="hide">
                  <i [class]="passwordRevealed ? 'fa-light fa-eye-slash' : 'fa-light fa-eye'"></i>
                </button>
                <div class="regenerate-id-button" type="button">
                  <i class="help-tooltip-button fa-light fa-circle-question" matTooltip="For TypeDB Cloud, check your credentials file (if you have it)"></i>
                </div>
              </div>
              @if (advancedForm.controls.password.getError("errorText")) {
                <mat-error>{{ advancedForm.controls.password.getError("errorText") }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    } @else {
      <div class="form-input-block">
        <div class="form-input-row-description"><p>Enter connection URL</p></div>
        <div class="help-input-row">
          <mat-form-field>
            <input matInput [formControl]="form.controls.url" [type]="connectionUrlRevealed ? 'text' : 'password'" [placeholder]="connectionUrlPlaceholder">
            <div class="tp-password-input-suffix" matSuffix>
              <button type="button" tabindex="-1" mat-icon-button (click)="connectionUrlRevealed = !connectionUrlRevealed" aria-label="Hide connection URL" aria-pressed="hide">
                <i [class]="connectionUrlRevealed ? 'fa-light fa-eye-slash' : 'fa-light fa-eye'"></i>
              </button>
            </div>
            @if (form.controls.url.getError("errorText")) {
              <mat-error>{{ form.controls.url.getError("errorText") }}</mat-error>
            }
          </mat-form-field>
          <i class="help-tooltip-button fa-light fa-circle-question" richTooltip [richTooltipContent]="connectionUriHelpTooltipContent"></i>
        </div>
      </div>
    }
    <div class="form-input-block">
      <div class="form-input-row-description"><p>Specify a name for this connection</p></div>
      <div>
        <tp-form-input [form]="form" field="name" label="Connection name"/>
      </div>
    </div>
    <tp-form-actions
      [isSubmitting]="isSubmitting$ | async" buttonIdPrefix="createOrg" (cancel)="cancel()"
      [submitDisabled]="!canSubmit" submitText="Connect" cancelText="Cancel" [cancellable]="true"
    />
  </tp-form>
</ts-page-scaffold>

<ng-template #addressHelpTooltipContent>
  <div class="rich-tooltip">
    <p>The address of the HTTP endpoint of your cluster.</p>
    <p>By default, this is at port 8000. For local TypeDB CE instances you can use <code>http://localhost:8000</code>.</p>
  </div>
</ng-template>

<ng-template #connectionUriHelpTooltipContent>
  <div class="rich-tooltip">
    <p><strong>Format:</strong> typedb://username:password&commat;address</p>
    <p><strong>Example:</strong> typedb://admin:password&commat;http://localhost:8000</p>
    <p><strong>Note:</strong> For TypeDB Cloud, you should have a credentials file containing your Connection URL.</p>
  </div>
</ng-template>
