<ts-page-scaffold [pageAvailability]="availability$ | async">
  <tp-form class="form" [formGroup]="form" [isSubmitting$]="isSubmitting$" (doSubmit)="submit()">
    <h1>Connect TypeDB server</h1>
    <div class="form-input-block">
      <tp-form-toggle-group class="advanced-config-toggle" [form]="form" field="advancedConfigActive" [options]="advancedConfigActiveOptions" />
    </div>
    @if (form.value.advancedConfigActive) {
      <div class="form-input-block">
        <div class="form-input-row-description"><p>Specify connection parameters</p></div>
        <div class="form-input-group">
          <tp-form-input [form]="advancedForm" field="address" label="Address" autocomplete="url"/>
          <tp-form-input [form]="advancedForm" field="username" label="Username"/>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [formControl]="advancedForm.controls.password" [type]="passwordRevealed ? 'text' : 'password'">
            <div class="tp-password-input-suffix" matSuffix>
              <button type="button" tabindex="-1" mat-icon-button (click)="passwordRevealed = !passwordRevealed" aria-label="Hide password" aria-pressed="hide">
                <i [class]="passwordRevealed ? 'fa-light fa-eye-slash' : 'fa-light fa-eye'"></i>
              </button>
            </div>
            @if (advancedForm.controls.password.getError("errorText")) {
              <mat-error>{{ advancedForm.controls.password.getError("errorText") }}</mat-error>
            }
          </mat-form-field>
          <div class="form-checkbox-row" (click)="advancedForm.controls.tlsDisabled.patchValue(!advancedForm.controls.tlsDisabled.value)">
            <mat-checkbox [formControl]="advancedForm.controls.tlsDisabled" (click)="$event.stopPropagation()"/> Disable TLS
          </div>
        </div>
      </div>
    } @else {
      <div class="form-input-block">
        <div class="form-input-row-description"><p>Enter connection URL</p></div>
        <div class="uri-input-row">
          <mat-form-field>
            <input matInput [formControl]="form.controls.url" [type]="connectionUrlRevealed ? 'text' : 'password'" [placeholder]="connectionUrlPlaceholder">
            <div class="tp-password-input-suffix" matSuffix>
              <button type="button" tabindex="-1" mat-icon-button (click)="connectionUrlRevealed = !connectionUrlRevealed" aria-label="Hide connection URL" aria-pressed="hide">
                <i [class]="connectionUrlRevealed ? 'fa-light fa-eye-slash' : 'fa-light fa-eye'"></i>
              </button>
            </div>
            @if (form.controls.url.getError("errorText")) {
              <mat-error>{{ form.controls.url.getError("errorText") }}</mat-error>
            }
          </mat-form-field>
          <i class="help-tooltip-button fa-light fa-circle-question" richTooltip [richTooltipContent]="connectionUriHelpTooltipContent"></i>
        </div>
      </div>
    }
    <div class="form-input-block">
      <div class="form-input-row-description"><p>Specify a name for this connection</p></div>
      <div>
        <tp-form-input [form]="form" field="name" placeholder="Connection name"/>
      </div>
    </div>
    <tp-form-actions
      [isSubmitting]="isSubmitting$ | async" buttonIdPrefix="createOrg"
      [submitDisabled]="!canSubmit" submitText="Connect" cancelText="Cancel" [cancellable]="true"
    />
  </tp-form>
</ts-page-scaffold>

<ng-template #connectionUriHelpTooltipContent>
  <div class="rich-tooltip">
    <p><strong>Format (with credentials):</strong> typedb://username:password&commat;address</p>
    <p><strong>Format (no credentials):</strong> typedb://address</p>
    <p><strong>Query parameters</strong></p>
    <ul>
      <li><strong>tlsDisabled: </strong> Set to <strong>true</strong> to disable TLS.</li>
    </ul>
    <p><strong>Note:</strong> For TypeDB Cloud, go to the cluster page in Cloud and hit 'Connect' to view the Connection URL. Replace the 'db_password' placeholder.</p>
  </div>
</ng-template>
