/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "shapes";
@use "colors";

@use "typography";
@use "@angular/material" as mat;

$height: 32px;

.pagination-container {
    display: flex;
    justify-content: flex-end;
    height: $height;
    gap: 12px;
    flex-flow: row wrap;
    white-space: nowrap;
    width: unset;
    margin-top: 24px;
}

label {
    color: colors.$white;
    opacity: 60%;
    @include typography.p3;
}

.pagination-group {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 12px;
}

.paginator {
    height: $height;
    display: flex;
    align-items: center;
    background-color: colors.$secondary-purple;
    @include shapes.standard-border;
    i {
        font-size: 12px;
        padding: 5px;
    }
    span {
        padding: 5px;
        width: 24px;
        display: flex;
        justify-content: center;
    }
}

.paginator-separator {
    width: 0;
    border-right: 1px solid colors.$purple;
    height: 75%;
    margin-left: 1px;
    margin-right: 1px;
}

::ng-deep body .pagination-group .mat-mdc-form-field.form-field-dense .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    width: 48px;
    min-height: 32px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tp-rows-per-page {
    --mat-select-trigger-text-line-height: 26px;
}
