/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "@angular/material" as mat;
@use "primary";
@use "secondary";
@use "shapes";
@use "typography";

:host {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 16px;
    height: 100%;
}

hr {
    width: 100%;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        div.sidebar-link-title {
            display: flex;
            width: 100%;
        }

        i {
            font-size: inherit;
            visibility: hidden;
            height: auto;
            width: auto;
            margin-left: 8px;
            display: flex;
            align-items: center;
        }

        &:hover {
            color: primary.$green;

            i {
                visibility: visible;
            }
        }
    }

    .sidebar-link-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 4px;

        .sidebar-link-description {
            color: secondary.$grey;
            @include typography.info-text();
        }
    }
}

tp-button svg {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

i.fa-wand-magic-sparkles {
    background: linear-gradient(105deg, #F96480 0%, #FDD257 100%);
    width: auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
