$color-white: #FFF;
$color-purple-3: #1D1354;
$color-green-1: #02DAC9;

$default-background: $color-purple-3;
$default-text-color: $color-white;

html, body {
  height: 100%;
  background-color: $default-background;
  color: $default-text-color;
  font-size: 16px;

  // smoother edges on Mac OS
  -webkit-font-smoothing: antialiased;

  font-family: 'Titillium Web', Geneva, Tahoma, sans-serif;

  * {
    box-sizing: border-box;
  }
}

#root {
  height: 100%;
  width: 100%;
}

strong {
  font-weight: 600;
}

input[type="text"], input[type="email"] {
  font-family: 'Titillium Web', Geneva, Tahoma, sans-serif;
}

[hidden] {
  display: none !important;
}
