/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";
@use "media";
@use "typography";
@use "shapes";

:host {
    @include shapes.standard-border;
    border-radius: shapes.$border-radius;
    @include colors.light-source-gradient(colors.$purple, colors.$deep-purple);
    transition: background 0.1s linear;
    padding: 16px;
    
    display: flex;
    flex-direction: column;

    &:has(.card-header-wrapper) {
        padding: 0;
    }
}

.card-header-wrapper {
    padding: 16px;

    .card-header {
        margin-bottom: 0;
    }
}

.schema-container {
    flex: 1;
    display: flex;
    overflow: auto;
    scrollbar-gutter: stable;

    overscroll-behavior: contain;

    .gutter {
        flex: 0 0 16px;
    }

    &.scrolled {
        border-top: 1px solid colors.$black;
    }

    mat-tree {
        flex: 1;
        padding: 0;
        box-sizing: border-box;
        height: 100%;
        margin: 0;

        .mat-mdc-icon-button {
            margin: 0;
            padding: 0;
            width: 1em;
            height: 1em;
        }

        mat-tree-node.link.sub {
            button::before {
                content: "";
                font-family: "Font Awesome 6 Pro";
                font-weight: 900;
                position: absolute;
                width: 8px;
                height: 8px;
                font-size: 8px;
            }

            &.entityType button::before {
                color: colors.$entity-pink;
            }

            &.attributeType button::before {
                color: colors.$attribute-blue;
            }

            &.relationType button::before {
                color: colors.$relation-yellow;
            }
        }

        mat-tree-node.root:not(.entities) {
            margin-top: 16px;
        }

        mat-tree-node.root button mat-icon {
            display: none;
        }

        mat-tree-node.root.entities button::before {
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            position: absolute;
            width: 8px;
            height: 8px;
            font-size: 8px;
            color: colors.$entity-pink;
        }

        mat-tree-node.link.owns button::before, mat-tree-node.root.attributes button::before {
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            position: absolute;
            width: 8px;
            height: 8px;
            font-size: 8px;
            color: colors.$attribute-blue;
        }

        mat-tree-node.link.plays button::before, mat-tree-node.root.relations button::before {
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            position: absolute;
            width: 8px;
            height: 8px;
            font-size: 8px;
            color: colors.$relation-yellow;
        }

        mat-tree-node.link.relates button::before {
            content: "";
            font-family: "Font Awesome 6 Pro";
            font-weight: 900;
            position: absolute;
            width: 12px;
            height: 12px;
            font-size: 12px;
            color: colors.$role-orange;
        }

        &.flat {
            mat-tree-node.link {
                margin-left: 16px;
                padding-left: 16px !important; /* overrides Angular Material's default padding */
                padding-right: 8px;
                align-items: stretch;
                border-bottom: 1px solid colors.$light-purple;
                border-left: 1px solid colors.$light-purple;
                border-right: 1px solid colors.$light-purple;
                font-weight: typography.$light;

                button {
                    margin-right: 2px;
                }

                &:nth-child(odd) {
                    background: colors.$black;
                }

                &:nth-child(even) {
                    background: colors.$purple;
                }
            }

            mat-tree-node:not(.link) + mat-tree-node.link {
                border-top: 1px solid colors.$light-purple;
            }
        }

        mat-tree-node.clickable {
            cursor: pointer;

            &:hover {
                background-color: colors.$light-purple;
            }
        }

        mat-tree-node.highlighted {
            background-color: colors.$light-purple;
        }

        .tree-node-content {
            flex: 1;
            display: flex;
            align-items: center;
            align-self: stretch;
        }
    }
}

.menu-content {
    aside {
        margin: 6px 16px;
        @include typography.aside;
    }

    mat-divider {
        margin: 4px 8px;
    }

    i {
        width: 14px;
        height: 14px;
        font-size: 14px;
    }

    i.fa-swap-arrows {
        margin-left: -3px;
        margin-right: 3px;
    }

    button {
        i.fa-trash-can {
            opacity: 0;
            transition: opacity 100ms;
        }

        &:hover {
            i.fa-trash-can {
                opacity: 1;
            }
        }
    }

    button.selected {
        color: colors.$green;

        i.fa-trash-can {
            color: colors.$grey;
        }
    }
}

.concept-context-menu-trigger {
    position: fixed;
    visibility: hidden;
    width: 0;
    height: 0;
}
