<div class="card-header-wrapper">
  <div class="card-header">
    <h5>{{ title }}</h5>
    <div class="flex-spacer"></div>
    <div class="card-header-actions">
      <button matIconButton [disabled]="!(state.schema.interactable$ | async)"
              [matTooltip]="(state.schema.interactionDisabledReason$ | async) || 'Refresh'" matTooltipPosition="below" matTooltipShowDelay="500" (click)="state.schema.refresh()">
        <i class="fa-light fa-refresh"></i>
      </button>
      <button matIconButton [disabled]="!(state.schema.interactable$ | async)"
              [matTooltip]="(state.schema.interactionDisabledReason$ | async) || 'More actions'"
              [matMenuTriggerFor]="actionsMenu" matTooltip="More actions" matTooltipPosition="below" matTooltipShowDelay="500">
        <i class="fa-light fa-ellipsis"></i>
      </button>
    </div>
  </div>
</div>
<div class="schema-container" detectScroll>
  <div class="gutter"></div>
  <mat-tree
    #tree [dataSource]="state.dataSource$" [childrenAccessor]="state.childrenAccessor"
    [class]="state.viewMode$.value"
  >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [matTreeNodePaddingIndent]="16" [class]="treeNodeClass(node)">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button matIconButton disabled></button>
      <ts-schema-tree-node [data]="node"/>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: state.hasChild" matTreeNodePadding
                    [matTreeNodePaddingIndent]="16" (click)="toggleNode(node)"
                    [cdkTreeNodeTypeaheadLabel]="node.name" [class]="treeNodeClass(node)">
      <button matIconButton aria-label="Toggle node">
        <mat-icon class="mat-icon-rtl-mirror">
          {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <ts-schema-tree-node [data]="node"/>
    </mat-tree-node>
  </mat-tree>
  <div class="gutter"></div>
</div>

<mat-menu #actionsMenu="matMenu">
  <span class="menu-content">
    <button mat-menu-item (click)="state.collapseAll()">
      <i class="fa-light fa-arrows-to-line"></i>
      <span>Collapse all</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="state.useFlatView()">
      <i class="fa-light fa-check" [class.invisible]="state.viewMode$.value !== 'flat'"></i>
      <span>Flat view</span>
    </button>
    <button mat-menu-item (click)="state.useHierarchicalView()">
      <i class="fa-light fa-check" [class.invisible]="state.viewMode$.value !== 'hierarchical'"></i>
      <span>Hierarchical view</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="state.toggleLinksVisibility('sub')">
      <i class="fa-light fa-check" [class.invisible]="!state.linksVisibility$.value.sub"></i>
      <span>Show sub in flat view</span>
    </button>
    <button mat-menu-item (click)="state.toggleLinksVisibility('owns')">
      <i class="fa-light fa-check" [class.invisible]="!state.linksVisibility$.value.owns"></i>
      <span>Show owns</span>
    </button>
    <button mat-menu-item (click)="state.toggleLinksVisibility('relates')">
      <i class="fa-light fa-check" [class.invisible]="!state.linksVisibility$.value.relates"></i>
      <span>Show relates</span>
    </button>
    <button mat-menu-item (click)="state.toggleLinksVisibility('plays')">
      <i class="fa-light fa-check" [class.invisible]="!state.linksVisibility$.value.plays"></i>
      <span>Show plays</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openSchemaTextDialog()">
      <i class="fa-light fa-file-lines"></i>
      <span>View schema text</span>
    </button>
  </span>
</mat-menu>
