@switch (data.nodeKind) {
  @case ("root") {
    <div class="root-node">{{ data.label }}</div>
  }
  @case ("concept") {
    {{ data.concept.label }}@if (data.concept.kind === "attributeType") {<em class="text-muted">, value {{ data.concept.valueType }}</em>}
  }
  @case ("link") {
    <div class="link-node">
      @switch (data.linkKind) {
        @case ("sub") {
          <em>sub</em> {{ data.supertype.label }}
        }
        @case ("owns") {
          <em>owns</em> {{ data.ownedAttribute.label }}<em>, value {{ data.ownedAttribute.valueType }}</em>
        }
        @case ("relates") {
          <em>relates</em> {{ data.role.label }}
        }
        @case ("plays") {
          <em>plays</em> {{ data.role.label }}
        }
      }
    </div>
  }
}
