@switch (data.nodeKind) {
  @case ("root") {
    <div class="root-node">{{ data.label }}</div>
  }
  @case ("concept") {
    {{ data.concept.label }}@if (data.concept.kind === "attributeType") {<em class="text-muted">, value {{ data.concept.valueType }}</em>}
  }
  @case ("link") {
    <div class="link-node">
      @switch (data.linkKind) {
        @case ("sub") {
          sub <em>{{ data.supertype.label }}</em>
        }
        @case ("owns") {
          owns <em>{{ data.ownedAttribute.label }}, value {{ data.ownedAttribute.valueType }}</em>
        }
        @case ("relates") {
          relates <em>{{ data.role.label }}</em>
        }
        @case ("plays") {
          plays <em>{{ data.role.label }}</em>
        }
      }
    </div>
  }
}
