/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";

:host {
    display: block;
    position: relative;

    ::ng-deep .cm-scroller {

    }

    .copy-overlay {
        right: 8px;
    }

    .copy-overlay + .copy-overlay {
        right: 48px;
    }

    &.has-scrollbar .copy-overlay {
        right: 18px;
    }

    &.has-scrollbar .copy-overlay + .copy-overlay {
        right: 58px;
    }

    // Show overlays on hover
    .copy-overlay.visible {
        opacity: 0;
        transform: translateY(-4px);
    }

    &:hover .copy-overlay.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
