<pre><code #codeEl></code></pre>
<div class="copy-overlay" [class.visible]="runOverlayVisible" (click)="onRunButtonClick()">
  <i [class]="ran ? 'fal fa-check' : 'fal fa-play'"></i>
</div>
<div class="copy-overlay" [class.visible]="runOverlayVisible" (click)="onCopyButtonClick()">
  <i [class]="copied ? 'fal fa-check' : 'fal fa-copy'"></i>
</div>
<div class="copy-overlay" [class.visible]="expandOverlayVisible" (click)="expandButtonClick.emit()"
     matTooltip="View full query" [matTooltipShowDelay]="500">
  <i class="fal fa-expand"></i>
</div>
