/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

 @use "colors";
 @use "shapes";

 :host {
    text-align: center;
 }

 .body {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
 }

p {
    margin-bottom: 24px;
}

.tp-logo {
    max-width: 96px;
}

tp-form-actions {
    width: unset;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid var(--content-border-color);
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 24px;

    a {
        display: flex;
        align-items: center;
        gap: 6px;

        &:hover {
            color: colors.$green;
        }
    }

    i:first-child, svg:first-child {
        width: 20px;
        font-size: 16px;
        text-align: center;
    }
}

tp-form-actions ::ng-deep tp-button {
    display: block;
    min-width: 140px;
}
