<tp-modal dialogTitle="Change password" [isBusy]="isSubmitting$ | async">
  <p class="description">Please enter a new password for '{{ data.username }}'.</p>
  <tp-form [formGroup]="form" [isSubmitting$]="isSubmitting$" (doSubmit)="submit()">
    <tp-form-password-input [form]="form" field="newPassword" label="New password" />
    @if (isEditingCurrentlyLoggedInUser) {
      <div class="content-wrapper">
        <p><i class="fa-solid fa-triangle-exclamation"></i> <span class="admonition-header">Important</span></p>
        <p>You'll need to log in again with the new password.</p>
      </div>
    }
    <tp-form-actions
      [cancellable]="true" submitText="Change password" [isSubmitting]="isSubmitting$ | async"
      buttonIdPrefix="createDatabaseModal" (cancel)="close()"
    />
    @if (errorLines.length) {
      <mat-error>@for (line of errorLines; track line) {<p>{{ line }}</p>}</mat-error>
    }
  </tp-form>
</tp-modal>
