<div class="messages" #messagesContainer>
  @for (msg of state.messages$ | async; track msg) {
    <div class="message" [class.user]="msg.sender === 'user'" [class.ai]="msg.sender === 'ai'">
      <div class="message-content">
        @if (msg.isProcessing) {
          <div class="typing-indicator">
            <tp-spinner [size]="20"/>
          </div>
        } @else {
          <div class="message-text">
            @for (chunk of msg.content; track chunk) {
              @if (chunk.type === 'text') {
                <markdown>{{ chunk.content }}</markdown>
              } @else if (chunk.type === 'code') {
                <tp-code-editor [formControlProp]="chunk.formControl" [runOverlayVisible]="true" (runButtonClick)="onRunButtonClick(chunk.formControl.value)"/>
              }
            }
            @if (msg.error) {
              <div class="error-message"><i class="fa-solid fa-triangle-exclamation"></i>{{ msg.error }}</div>
            }
          </div>
        }
      </div>
    </div>
  }

  @if ((state.messages$ | async)?.length === 0) {
    <div class="welcome-content">
      <i class="fa-thin fa-sparkles"></i>
      <h3>Query with agent mode.</h3>
      <aside class="text-muted">AI responses may be inaccurate.</aside>
    </div>
  }

  <div class="spacer"></div>
</div>

<div class="input-container">
  <form (submit)="onSubmit($event)" class="message-form">
    <div class="input-wrapper">
      <mat-form-field appearance="outline">
        <textarea matInput
                 [formControl]="state.promptControl"
                 [disabled]="(state.isProcessing$ | async) || true"
                 placeholder="e.g. Get all users and their attributes"
                 rows="3"
                 cdkTextareaAutosize
                 cdkAutosizeMinRows="1"
                 cdkAutosizeMaxRows="6"
                 (keydown.enter)="onInputKeyDownEnter($any($event))">
        </textarea>
        <button matSuffix
                type="submit"
                matIconButton
                matTooltip="Send"
                matTooltipShowDelay="500"
                [disabled]="!state.promptControl.value || !(driver.database$ | async) || (state.isProcessing$ | async)"
                [class.processing]="state.isProcessing$ | async">
            <i class="fa-light fa-paper-plane-top"></i>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
