<div class="graph-canvas-container" [class.maximised]="maximised">
  <div class="graph-split-left" resizable [percent]="graphPercent" (percentChange)="graphPercentChange.emit($event)">
    <div class="canvas-element" #canvasEl></div>

    <div class="graph-search-bar">
      <i class="fa-light fa-magnifying-glass"></i>
      <input type="text" placeholder="Search"
             [value]="visualiser?.searchTerm ?? ''"
             (input)="visualiser?.searchGraph($any($event.target).value.toLowerCase())">
      @if (visualiser?.searchTerm) {
        <button class="graph-search-clear" (click)="visualiser?.clearSearch()">
          <i class="fa-light fa-xmark"></i>
        </button>
      }
      <button class="graph-search-focus"
              (click)="visualiser?.searchTerm ? visualiser?.focusSearchMatches() : visualiser?.centerCamera()">
        <i class="fa-light fa-crosshairs"></i>
      </button>
    </div>

    @if (canExportPng()) {
      <button class="graph-export-button" [matMenuTriggerFor]="graphExportMenu"
              matTooltip="Export as PNG" [matTooltipShowDelay]="500" [disabled]="exporting">
        <i class="fa-light fa-arrow-down-to-line"></i>
      </button>
      <mat-menu #graphExportMenu="matMenu" class="export-menu">
        <button mat-menu-item (click)="exportPng('currentView')"><i class="fa-light fa-arrow-down-to-line"></i>Download PNG (current view)</button>
        <button mat-menu-item (click)="exportPng('wholeGraph')"><i class="fa-light fa-arrow-down-to-line"></i>Download PNG (entire graph)</button>
      </mat-menu>
    }

    <button class="graph-maximise-button" (click)="toggleMaximised()"
            [matTooltip]="maximised ? 'Exit fullscreen' : 'Fullscreen'" [matTooltipShowDelay]="500">
      <i class="fa-light" [class.fa-expand]="!maximised" [class.fa-compress]="maximised"></i>
    </button>

    <ts-graph-zoom-controls [visualiser]="visualiser" [queryRunning]="queryRunning"/>

    @switch (status) {
      @case ("error") {
        <p class="status-text">This query returned an error. <a (click)="statusAction.emit('viewLog')">View in log</a></p>
      }
      @case ("running") {
        <p class="status-text">Running query...</p>
      }
      @case ("graphlessQueryType") {
        <div class="status-text status-text-left">
          <p>Query completed. This query type cannot be displayed as a graph.</p>
          <p>Graph output is available for the following query types:</p>
          <ul>
            <li>Match queries without Fetch</li>
            <li>Insert queries</li>
          </ul>
        </div>
      }
      @case ("answerOutputDisabled") {
        <p class="status-text">Query completed. Answer output is disabled.</p>
      }
      @case ("noAnswers") {
        <p class="status-text">Query completed. No answers were returned.</p>
      }
      @case ("multiQuery") {
        <p class="status-text">Graph view is not available for multi-query results. <a (click)="statusAction.emit('viewLog')">View results in log</a></p>
      }
    }
  </div>
  <ts-graph-styles-pane resizable [percent]="stylesPanePercent"
                        (percentChange)="stylesPanePercentChange.emit($event)"
                        [visualiser]="visualiser"/>
</div>
