/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";
@use "typography";
@use "shapes";
@use "mixins";

.data-page {
    height: calc(100% - 86px);
    width: 100%;
}

.main-content {
    @include mixins.card-appearance;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.type-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    --mat-tab-label-text-tracking: 0.02em;

    // Make tabs compact and left-aligned like IDE tabs
    ::ng-deep .mat-mdc-tab-header {
        background: rgba(colors.$black, 0.5);
        border-bottom: 1px solid colors.$light-purple;
    }

    ::ng-deep .mat-mdc-tab-label-container {
        flex-grow: 0;
    }

    ::ng-deep .mat-mdc-tab {
        min-width: auto;
        padding: 0 16px;
        flex-grow: 0;
    }

    ::ng-deep .mat-mdc-tab-body-wrapper {
        flex: 1;
        overflow: hidden;
    }

    ::ng-deep .mat-mdc-tab-body-content {
        height: 100%;
        overflow: hidden;
        position: relative;
    }
}

.tab-label-container {
    display: flex;
    align-items: center;
    // Expand container to fill the entire tab clickable area
    margin: -14px -16px;
    padding: 14px 16px;
}

.tab-label {
    display: flex;
    align-items: center;
    gap: 8px;

    &.pinned .pin-icon {
        font-size: 11px;
        color: colors.$grey;
        margin-right: 2px;
        transform: rotate(-45deg);
    }
}

.tab-count {
    font-size: 12px;
    color: colors.$grey;
}

.tab-close-button {
    margin-left: 4px;
    width: 20px;
    height: 20px;

    i {
        font-size: 12px;
        position: relative;
        top: 2px;
    }

    &:hover {
        background-color: colors.$light-purple;
    }
}

.empty-state, .loading-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: colors.$grey;

    i {
        font-size: 48px;
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
    }

    p {
        font-size: 14px;
    }
}

.loading-state {
    tp-spinner {
        margin-bottom: 16px;
    }
}

.placeholder-container {
    height: 100%;
    overflow: auto;
    border: 3px dashed colors.$light-purple;
    border-radius: shapes.$border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    background: colors.$black;
    --mat-button-filled-container-height: 40px;
}

.tab-context-menu-trigger {
    position: fixed;
    visibility: hidden;
    width: 0;
    height: 0;
}
