/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";
@use "shapes";
@use "typography";

:host {
    display: block;
    height: 100%;
    border: shapes.$border;
}

.cs-root {
    min-height: 100%;
    width: 100%;
    height: 100%;
    background: var(--body-background);
}

.cs-scrollable-content {
    display: flex;
    gap: 4px;
    padding: 4px;
    height: 100%;
    overflow: auto; /* Move overflow here */
    position: relative;

}

.cs-line-numbers {
    flex-shrink: 0;
    padding: 0 7px;
    color: #66637f;
    user-select: none;
}

.cs-code-area {
    flex: 1;
    cursor: text;

    code {
        display: block;
    }
}

ol {
    list-style: none;
}
