<ts-page-scaffold pageAvailability="ready">
  <article #articleRef class="schema-page" style="display: flex; flex-direction: row;">
    <ts-schema-tool-window resizable [percent]="panelSizes[0]" (percentChange)="onPanelResize(0, $event)" [title]="'Schema Explorer'"/>
    <div class="visualiser-pane card" resizable [percent]="panelSizes[1]" (percentChange)="onPanelResize(1, $event)">
      <div class="card-header">
        <h5>Visualiser</h5>
        <div class="flex-spacer"></div>
        <button mat-stroked-button [disabled]="!(state.interactable$ | async)"
                [matTooltip]="(state.interactionDisabledReason$ | async) || ''" matTooltipPosition="below" (click)="state.refresh()">
          <i class="fa-light fa-refresh"></i>
          <span>Refresh</span>
        </button>
      </div>
      <div class="answers-outer-container">
        @if ((driver.status$ | async) !== "connected") {
          <div class="answers-placeholder-container">
            <button mat-flat-button routerLink="/connect">
              <i class="fa-light fa-bolt"></i><span>Connect TypeDB server</span>
            </button>
          </div>
        } @else if (!(driver.database$ | async)) {
          <div class="answers-placeholder-container">
            @if ((driver.databaseList$ | async)?.length) {
              <button mat-flat-button (click)="openSelectDatabaseDialog()">
                <i class="fa-light fa-database"></i><span>Select database</span>
              </button>
            } @else {
              <button mat-flat-button (click)="openCreateDatabaseDialog()">
                <i class="fa-light fa-database"></i><span>Create new database</span>
              </button>
            }
          </div>
        }
        <ts-graph-canvas #graphCanvas
                         [class.invisible]="(driver.status$ | async) === 'disconnected' || !(driver.database$ | async)"
                         [visualiser]="state.visualiser.visualiser"
                         [status]="state.visualiser.status"
                         [graphPercent]="panelSizes[2]" (graphPercentChange)="onPanelResize(2, $event)"
                         [stylesPanePercent]="panelSizes[3]" (stylesPanePercentChange)="onPanelResize(3, $event)"
                         [(maximised)]="graphMaximised">
        </ts-graph-canvas>
      </div>
    </div>
  </article>
</ts-page-scaffold>
