<button [matMenuTriggerFor]="transactionMenu" class="transaction-menu-trigger">
  <i class="fa-light fa-code-commit"></i> {{ driver.transactionControls.controls.operationMode.value }}
</button>

@if (transactionTypeVisible$ | async) {
  <span class="tx-divider"></span>
  <mat-select [formControl]="driver.transactionControls.controls.type" panelClass="transaction-select-panel" [matTooltip]="(transactionWidgetTooltip$ | async) || ''" matTooltipPosition="below">
    <mat-select-trigger class="transaction-type-select">
      <i class="fa-light fa-wrench"></i> {{ driver.transactionControls.controls.type.value }}{{ (hasUncommittedChanges$ | async) ? "*" : "" }} <i class="fa-light fa-chevron-down"></i>
    </mat-select-trigger>
    @for (transactionType of transactionTypes; track transactionType) {
      <mat-option [value]="transactionType">{{ transactionType }}</mat-option>
    }
  </mat-select>
}

@if (openButtonVisible$ | async) {
  <button mat-button (click)="open()" [class]="openButtonClass$ | async" [disabled]="(openButtonDisabled$ | async) ?? true">
    Open
  </button>
}

@if (commitButtonVisible$ | async) {
  <button mat-button (click)="commit()" class="commit-btn" [disabled]="(commitButtonDisabled$ | async) ?? true">
    Commit
  </button>
}

@if (closeButtonVisible$ | async) {
  <button mat-button (click)="close()" class="close-btn" [disabled]="(closeButtonDisabled$ | async) ?? true">
    Close
  </button>
}

<mat-menu #transactionMenu="matMenu" [overlapTrigger]="false">
  <span class="menu-content">
    <aside>Transaction</aside>
    <mat-divider/>
    <button mat-menu-item (click)="setOperationMode('auto')" [class.selected]="driver.transactionControls.controls.operationMode.value === 'auto'">
      <i class="fa-light fa-check" [class.invisible]="driver.transactionControls.controls.operationMode.value !== 'auto'"></i>
      <span>Auto mode</span>
    </button>
    <button mat-menu-item (click)="setOperationMode('manual')" [class.selected]="driver.transactionControls.controls.operationMode.value === 'manual'">
      <i class="fa-light fa-check" [class.invisible]="driver.transactionControls.controls.operationMode.value !== 'manual'"></i>
      <span>Manual mode</span>
    </button>
    <mat-divider/>
    <button mat-menu-item (click)="openTransactionInspector()">
      <i class="fa-light fa-square-dashed"></i>
      <span>Inspector</span>
    </button>
    <button mat-menu-item (click)="openTransactionOptions()">
      <i class="fa-light fa-sliders"></i>
      <span>Options</span>
    </button>
  </span>
</mat-menu>
