/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "colors";

:host {
    display: block;
}

.error-content {
    padding-top: 16px;

    .error-box {
        max-height: 400px;
        overflow: auto;
        padding: 12px 16px;
        background: colors.$black;
        border: 1px solid colors.$secondary-deep-grey;
        border-radius: 4px;

    }

    pre {
        margin: 0;
        white-space: pre-wrap;
        word-break: break-word;
        font-family: "Roboto Mono", monospace;
        font-size: 13px;
        line-height: 1.5;
        color: colors.$grey;
    }
}

.error-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding-top: 16px;

    button i {
        margin-right: 6px;
    }
}
