@use "colors";

:host tp-button {
    position: relative;

    ::ng-deep span.submitting {
        visibility: hidden;
    }

    ::ng-deep tp-spinner {
        position: absolute;
        margin: auto;
    }

    &.green ::ng-deep tp-spinner .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: #{colors.$green};
    }

    &.red ::ng-deep tp-spinner .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: #{colors.$red};
    }
}
