/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "shapes";
@use "colors";

@use "typography";

:host {
    display: flex;
    align-items: center;
}

.root {
    transition: background 0.1s linear, width 500ms ease-in;
    display: flex;
    flex-flow: row wrap;
    row-gap: 8px;

    button {
        padding: 5px 8px;
        display: flex;
        align-items: center;
        color: colors.$grey;
        @include typography.p2;

        i.fa-database {
            margin-right: 8px;
        }

        i.fa-code-commit {
            margin-right: 12px;
        }
    }

    button:hover {
        color: colors.$green;
    }

    .connection-area {
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .db-trigger {
        overflow: hidden;
        max-width: 280px;

        .db-trigger-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

i.ts-beacon {
    font-size: 8px;
    width: 8px;
    height: 8px;
    margin-right: 8px;

    &.ok {
        color: colors.$green;
        //animation: shimmer 3s ease-in-out 0s infinite;
    }

    &.warn {
        color: colors.$secondary-yellow;
        animation: beacon 1.5s ease-in-out 0s infinite;
    }

    &.error {
        color: colors.$red;
    }

    &.inactive {
        color: colors.$secondary-light-grey;
    }
}

@keyframes beacon {
    0% { opacity: 1 }
    10% { opacity: 1 }
    50% { opacity: 0.25 }
    90% { opacity: 1 }
    100% { opacity: 1 }
}

.fa-chevron-right {
    width: 14px;
    height: 14px;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 4px;
    color: colors.$secondary-light-grey;
}

.divider-vertical {
    margin: 0 24px;
    width: 0;
}

.menu-content {
    aside {
        margin: 6px 16px;
        @include typography.aside;

        .server-version {
            color: colors.$secondary-light-grey;
        }
    }

    mat-divider {
        margin: 4px 8px;
    }

    i {
        width: 14px;
        height: 14px;
        font-size: 14px;
    }

    i.fa-swap-arrows {
        margin-left: -3px;
        margin-right: 3px;
    }

    i.fa-user-shield {
        font-size: 12px;
        height: 12px;
    }

    button {
        i.fa-trash-can {
            opacity: 0;
            transition: opacity 100ms;
        }

        &:hover {
            i.fa-trash-can {
                opacity: 1;
            }
        }
    }

    ::ng-deep .mat-mdc-menu-item-text {
        display: flex !important;
        align-items: center;
        min-width: 0;
        width: 100%;
    }

    .db-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 0;
    }

    i.fa-trash-can {
        flex-shrink: 0;
        margin-left: 8px;
    }

    button.selected {
        color: colors.$green;

        i.fa-trash-can {
            color: colors.$grey;
        }
    }
}
