<div [ngClass]="rootNgClass$ | async">
  <div class="connection-area" (mouseenter)="onConnectionAreaMouseEnter()" (mouseleave)="onConnectionAreaMouseLeave()">
    <button #connectionMenuTrigger="matMenuTrigger" [matTooltip]="connectionTooltip" matTooltipPosition="below"
            [matMenuTriggerFor]="connectionMenuRef">
      <i class="fa-light fa-server"></i>
      <span class="connection-text"> {{ connectionText$ | async }}</span>
      <i class="ts-beacon fa-solid fa-circle" [class]="connectionBeaconStatusClass$ | async" [matTooltip]="(connectionBeaconTooltip$ | async) || ''" matTooltipPosition="below" [matTooltipShowDelay]="500"></i>
    </button>

    @if (databaseVisible$ | async) {
      <i class="fa-light fa-chevron-right"></i>
      <button class="db-trigger" #databaseMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="databaseMenuRef"
              [matTooltip]="(databaseText$ | async) || ''">
        <i class="fa-light fa-database"></i><span class="db-trigger-text">{{ databaseText$ | async }}</span>
      </button>
    }
  </div>

  @if (transactionControlVisible$ | async) {
    <div class="divider-vertical"></div>
    <ts-transaction-control/>
  }
</div>

<mat-menu #connectionMenuRef="matMenu" [overlapTrigger]="false">
  <span class="menu-content" (mouseenter)="onConnectionMenuMouseEnter()" (mouseleave)="onConnectionMenuMouseLeave()" (click)="$event.stopPropagation()">
    @let connection = (driver.connection$ | async);
    <aside>Server: {{ connection?.name ?? 'not connected' }} @if (driver.serverVersion$ | async; as sv) {<span class="server-version">({{ sv.distribution }} {{ sv.version }})</span>}</aside>
    <mat-divider/>
    @if (connection) {
      <button mat-menu-item routerLink="/connect" (click)="connectionMenuTrigger.closeMenu()"><i class="fa-light fa-swap-arrows"></i><span>Change connection</span></button>
    } @else {
      <button mat-menu-item routerLink="/connect" (click)="connectionMenuTrigger.closeMenu()"><i class="fa-light fa-server"></i><span>Connect TypeDB server</span></button>
    }
    @if (connection) {
      <mat-divider/>
      <aside>User: {{ connection.params.username }}</aside>
      <mat-divider/>
      <button mat-menu-item (click)="signOut(); connectionMenuTrigger.closeMenu()"><i class="fa-light fa-sign-out"></i><span>Sign out</span></button>
    }
  </span>
</mat-menu>

<mat-menu #databaseMenuRef="matMenu" [overlapTrigger]="false">
  <span class="menu-content" (mouseenter)="onConnectionMenuMouseEnter()" (mouseleave)="onConnectionMenuMouseLeave()">
    <aside>Databases</aside>
    <mat-divider/>
    @for (database of (driver.databaseList$ | async)!; track database) {
      @let selected = database.name == (driver.database$ | async)?.name;
      <button mat-menu-item (click)="selectDatabase(database)" [class.selected]="selected">
        <i class="fa-light fa-check" [class.invisible]="!selected"></i>
        <span class="db-name" [matTooltip]="database.name">{{ database.name }}</span>
        <i class="fa-light fa-trash-can" matTooltip="Delete database" matTooltipPosition="above" (click)="onDeleteDatabaseClick(database, $event);"></i>
      </button>
    }
    <mat-divider/>
    <button mat-menu-item (click)="openCreateDatabaseDialog()"><i class="fa-light fa-plus"></i><span>New database</span></button>
    <button mat-menu-item (click)="refreshDatabaseList()"><i class="fa-light fa-arrows-rotate"></i><span>Refresh database list</span></button>
  </span>
</mat-menu>
