/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:host {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 8px;
    width: 24px;
    height: 16px;
    padding: 4px 8px;
}
