/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "sass:color";

@use "media";
@use "primary";
@use "secondary";
@use "shapes";
@use "tp";
@use "typography";

@use "topbar";

@forward "material";
@forward "prism";
@forward "scrollbars";
@forward "vars";

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: primary.$black-purple;
    font-size: 14px;
    line-height: 22px;

    --mat-form-field-subscript-text-size: 14px;
    letter-spacing: var(--body-letter-spacing);
}

body {
    margin: 0;
    padding: 0;
    font-family: typography.$default-font-family;
    overflow-x: hidden;

    --font-size-code: 14px;
    --line-height-code: 22px;
}

html, body {
    color-scheme: dark;
    height: 100%;
}

* {
    box-sizing: border-box;
}

article {
    section + section {
        margin-top: 32px;
        padding-top: 32px;
        border-top: shapes.$border;
    }
}

.tp-bento-container {
    display: flex;

    &.row {
        flex-direction: row;
        width: 100%;
    }

    &.col {
        flex-direction: column;
    }
}

.tp-bento-box {
    @include shapes.standard-border;
    border-radius: shapes.$border-radius-panel;
    @include shapes.light-source-gradient(primary.$purple, primary.$deep-purple);
    transition: background 0.1s linear;
    padding: shapes.$card-padding;

    display: flex;
    flex-direction: column;
    gap: 12px;

    $subtle-opacity: 0.45;
    &.subtle {
        @include shapes.light-source-gradient(
                rgba(primary.$purple, $subtle-opacity),
                rgba(primary.$deep-purple, $subtle-opacity),
        );
        border-color: rgba(primary.$light-purple, $subtle-opacity);
    }

    &.hoverable:hover:not(:disabled) {
        @include shapes.light-source-gradient(rgba(primary.$light-purple, 0.6), primary.$purple);

        &.subtle {
            @include shapes.light-source-gradient(
                    rgba(rgba(primary.$light-purple, 0.6), $subtle-opacity),
                    rgba(primary.$purple, $subtle-opacity)
            );
        }
    }

    &.with-bottom-bar {
        padding-bottom: 0;
    }

    .tp-bento-bottom-bar {
        width: calc(100% + 2 * shapes.$card-padding);
        text-align: right;
        border-top: shapes.$border;
        border-color: inherit;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: shapes.$card-padding;
        position: relative;
        right: calc(-1 * shapes.$card-padding);
        margin-top: 12px;
        align-self: flex-end;
        transition: background 100ms;
    }

    a.tp-bento-bottom-bar:hover {
        color: primary.$green;
        background: primary.$purple;
    }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, pre, figure {
    margin: 0;
    padding: 0;
}

h1 {
    @include typography.h1;
}

h2 {
    @include typography.h2;
}

h3 {
    @include typography.h3;
}

h4 {
    @include typography.h4;
}

h5 {
    @include typography.h5;
}

.text-p1 {
    font-size: 18px;
    line-height: 26px;
}

.text-p2 {
    font-size: var(--font-size-p2);
    line-height: var(--line-height-p2);
}

.text-aside {
    font-size: var(--font-size-aside);
    line-height: var(--line-height-aside);
}

// TODO: use actual h1, h2, h3, h4 elements, not spans!
.header {
    @include typography.h2;
    &.fullwidth {
        width: 100%;
        margin-bottom: 24px;
    }
}

.section-title-row {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    width: 100%;
    gap: 12px;

    h2, h3 {
        width: inherit;
    }
}

strong {
    font-weight: typography.$semi-bold;
}

.text-muted {
    color: secondary.$light-grey;
}

a {
    color: primary.$white;
    text-decoration: none;
    &.disabled {
        pointer-events: none;
        cursor: default;
    }
}

@mixin text-link {
    text-decoration: underline;
    color: primary.$green;
    cursor: pointer;
}

p a, aside a, th a, td a {
    @include text-link;
}

a.link-quiet {
    color: primary.$grey;
    font-size: 14px;
    text-decoration: none;

    &:hover, &:focus {
        color: primary.$green;
        text-decoration: none;
    }
}

a.tos-privacy-link {
    color: primary.$white;
    text-decoration: underline;

    &:hover, &:focus {
        color: primary.$green;
    }
}

aside, .text-aside {
    @include typography.p3;
}

pre, code, .text-code {
    font-size: var(--font-size-code);
    line-height: var(--line-height-code);
}

code, .text-code {
    font-family: Monaco, monospace;
}

em {
    font-weight: typography.$semi-bold;
    color: secondary.$lighter-grey;
}

button {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-size: unset;
    font-family: unset;
    padding: 0;
    margin: 0;
    cursor: pointer;
    letter-spacing: var(--body-letter-spacing);

    &:disabled {
        cursor: not-allowed;
        color: secondary.$mid-deep-grey;
    }
}

/* NB: these button styles are from typedb-web */
@mixin button {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-semi-bold);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    transition-property: background-color, border, box-shadow, opacity;
    transition-duration: 100ms;
    transition-timing-function: ease;
    text-decoration: none !important; // overrides various styles that set an underline on anchors

    @media (min-width: media.$min-width-tablet) {
        height: 48px;
        width: 202px;
    }

    @media (max-width: media.$max-width-mobile) {
        height: 40px;
    }

    &.td-button-disabled {
        opacity: 50%;
        cursor: default;
    }

    &.td-button-size-s {
        height: 40px;
    }
}

@mixin button-primary {
    & {
        border-color: transparent;
        background: var(--color-green);
        color: var(--color-purple);
    }

    &:not(.td-button-disabled) {
        &:hover,
        &.container-hover {
            box-shadow: 0 3px 26px 0 rgba(primary.$green, 0.4);
        }

        &:active {
            background-color: color.mix(primary.$green, primary.$purple);
        }
    }
}

@mixin button-secondary {
    border-color: var(--color-green);
    background: transparent;
    color: var(--color-green);

    &:not(.td-button-disabled) {
        &:hover,
        &.container-hover {
            background-color: var(--color-green);
            color: var(--color-purple);
        }
    }
}

.button-primary {
    @include button;
    @include button-primary;
}

hr {
    border-top: shapes.$border;
    border-bottom: none;
}

form, .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input-row-description {
    color: secondary.$light-grey;
    font-size: 14px;
    text-align: start;
    margin: 11px 0;
}

input, select, textarea {
    &::placeholder {
        color: rgba(secondary.$light-grey, 0.8);
        font-weight: typography.$regular;
    }
}

th {
    font-weight: typography.$semi-bold;
}

.flex-spacer {
    flex-grow: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.invisible {
    visibility: hidden;
    pointer-events: none;
}

i {
    width: 16px;
    height: 16px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;

    &.ok {
        color: primary.$green;
    }

    &.info {
        color: secondary.$blue;
    }

    &.warn {
        color: secondary.$yellow;
    }

    &.error {
        color: primary.$red;
    }

    &.inactive {
        color: secondary.$light-grey;
    }
}

button i + span, button span + i {
    margin-left: 8px;
}

.tp-green {
    color: primary.$green;
}

.card {
    @include shapes.card-appearance;
    @include shapes.card-padding;

    &.hoverable:hover:not(:disabled) {
        border-color: primary.$green;

        .link-tertiary {
            color: primary.$green;
            text-decoration: underline;
        }
    }
}

// copied over from typedb-docs-web
.admonitionblock {
    --important-color: #{secondary.$yellow};
    --important-background: #{rgba(secondary.$yellow, 0.12)};
    --note-color: #{secondary.$blue};
    --note-background: #{rgba(secondary.$blue, 0.12)};
    --tip-color: #{primary.$green};
    --tip-background: #{rgba(primary.$green, 0.12)};
    --warning-color: #{primary.$red};
    --warning-background: #{rgba(primary.$red, 0.12)};

    position: relative;
    margin: 1.5rem 0 0;
    padding: 16px;
    border-radius: var(--border-radius);
    color: var(--color-white);
    width: 100%;

    @media (max-width: media.$max-width-mobile) {
        padding: var(--card-padding);
    }

    > table,
    > table > tbody,
    > table > tbody > tr,
    > table > tbody > tr > td {
        display: block;
        padding: 0;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
    }

    &.note {
        background: var(--note-background);

        .icon::after {
            content: "Note";
        }
    }

    &.note::before {
        background: var(--note-color);
    }

    &.important, &.attention {
        border-color: var(--important-color);
        background: var(--important-background);

        &::before {
            background: var(--important-color);
        }
    }

    &.important .icon::after {
        content: "Important";
    }

    &.attention .icon::after {
        content: "Attention";
    }

    &.tip {
        background: var(--tip-background);

        .icon::after {
            content: "Advanced";
        }
    }

    &.tip::before {
        background: var(--tip-color);
    }

    &.warning {
        background: var(--warning-background);

        .icon::after {
            content: "Warning";
        }
    }

    &.warning::before {
        background: var(--warning-color);
    }

    .icon {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin-bottom: 4px;

        &::after {
            font-weight: var(--font-weight-medium);
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: .5px;
        }
    }

    .content {
        margin-top: -0.5rem;
    }
}

.admonitionblock.attention i {
    color: secondary.$yellow;
}

.action-bar {
    flex: 0 0 49px;
    display: flex;
    padding: 19px 0;
    position: sticky;
    top: 0;
    background-color: primary.$black-purple;
    z-index: 10;
    align-items: center;

    > a,
    tp-button {
        display: flex;
        align-items: center;
        z-index: 20;
    }

    > tp-button + tp-button::before,
    > tp-button + a::before,
    > a + tp-button::before,
    > a + a::before, {
        content: "";
        width: 0;
        height: 24px;
        border-right: shapes.$border;
    }

    &.condensed {
        ts-connection-widget .has-transaction-widget .connection-text {
            display: none;
        }
    }
}

tp-form .form-row, .form .form-row {
    display: flex;
    gap: 16px;

    > * {
        flex: 1;
    }
}

tp-form-actions, .tp-form-actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
    column-gap: 14px;
    row-gap: 8px;
    margin-top: 20px;
}

.tp-password-input-suffix {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.terms-privacy-additional-info {
    @include typography.p3;
    color: secondary.$light-grey;
}

tp-properties-table + tp-properties-table {
    margin-top: 48px;
}

tp-org-area, tp-profile-scaffold {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

table td tp-user-avatar {
    margin-top: 4px;
}

tp-form-input.capitalized-field {
    text-transform: capitalize;
}

.modal-content-wrapper {
    @include typography.p3;
    color: primary.$grey;
    width: 100%;

    display: flex;
    gap: 8px;
    align-items: center;
}

.help-tooltip-button {
    width: 44px;
    height: 44px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: secondary.$pink;
    cursor: pointer;
}

.info-block {
    display: flex;
    gap: 8px;
    align-items: center;
}

button.dangerous {
    color: primary.$red;
}

.tp-sidebar-team-selection-panel.mat-mdc-select-panel {
    background: rgba(primary.$light-purple, 0.3);
    backdrop-filter: blur(10px);
}

.tp-sidenav-container.collapsed ts-sidebar-link i.fa-arrow-up-right-from-square {
    transform: translate(-20px,-10px) scale(0.5);
}

tp-setup, tp-setup-marketplace, tp-setup-project,
tp-gcp-marketplace-integration, tp-aws-marketplace-integration, tp-azure-marketplace-integration {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp-liveness-indicator {
    display: flex;
    align-items: center;
    gap: 8px;

    tp-status-indicator {
        font-size: 8px;
        width: 8px;
        height: 8px;

        &.ok {
            animation: beacon 2s ease-in-out 0s infinite;

            @keyframes beacon {
                0% { opacity: 1 }
                10% { opacity: 1 }
                50% { opacity: 0 }
                90% { opacity: 1 }
                100% { opacity: 1 }
            }
        }
    }

    p {
        color: primary.$grey;

        &.ok {
            color: primary.$green;
        }

        &.loading {
            color: primary.$grey;
        }

        &.error {
            color: primary.$red;
        }

        &.inactive {
            color: secondary.$light-grey;
        }
    }
}
