@use "@angular/material" as mat;
@use "shapes";

body {
    @include mat.button-overrides((
        text-container-shape: shapes.$border-radius-small,
        filled-container-shape: shapes.$border-radius-small,
        outlined-container-shape: shapes.$border-radius-small,
    ));

    @include mat.tooltip-overrides((
        supporting-text-size: 13px,
    ));

    .mdc-tooltip__surface {
        padding: 4px 8px;
    }

    .mat-mdc-dialog-surface {
        overflow: hidden;
    }

    .mat-mdc-dialog-container .mat-mdc-dialog-title + .mat-mdc-dialog-content {
        padding-top: 4px;
    }
}
