/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

$max-width-mobile: 767px;
$min-width-tablet: 768px;
$max-width-tablet: 1199px;
$min-width-desktop: 1200px;
