/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

$white: #dedede;
$grey: #d7d4e5;
$light-purple: #2d2a46;
$purple: #1a182a;
$deep-purple: #151322;
$black-purple: #0e0d17;
$green: #02dac9;
$red: #e96464;

$attribute-blue: #78a0ff;
$relation-yellow: #f6c94c;
$entity-pink: #ff87dc;
$role-orange: #b0740c;
