/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

$lighter-grey: #c0bad0;
$light-grey: #958fa8;
$grey: #63607c;
$mid-deep-grey: #4e4b63;
$deep-grey: #383649;
$dark-grey: #282634;
$purple: #232135;
$deep-green: #0cc7b8;
$yellow: #ffe49e;
$pink: #ff87dc;
$blue: #78a0ff;
