/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "primary";

$border: 1px solid primary.$light-purple;
$border-radius: 8px;
$border-radius-panel: 8px;
$card-padding: 28px;

@mixin standard-border {
    border-radius: $border-radius;
    border: $border;
}

@mixin card-appearance {
    border-radius: $border-radius;
    background-color: primary.$purple;
    border: $border;
}

@mixin card-padding {
    padding: $card-padding;
}

@mixin light-source-gradient($light-source-color, $background-color, $left: 80px, $top: 50px) {
    background: $background-color radial-gradient(ellipse at $left $top, $light-source-color 0%, 60%, rgba($background-color, 0));
}
