/*!/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "primary";

$border: 1px solid primary.$light-purple;
$border-radius: 8px;
$border-radius-panel: 8px;
$card-padding: 28px;

@mixin standard-border {
    border-radius: $border-radius;
    border: $border;
}

@mixin card-appearance {
    border-radius: $border-radius;
    background-color: primary.$purple;
    border: $border;
}

@mixin card-padding {
    padding: $card-padding;
}

@mixin color-gradient($color1, $color2) {
    background: linear-gradient(105deg, #{$color1} 0%, #{$color2} 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin border-gradient($color1, $color2, $bg-color) {
    animation: gradient-button-bg-rotate 2.5s infinite linear paused;
    background:
        linear-gradient(to bottom, $bg-color, $bg-color) padding-box,
        conic-gradient(from var(--gradient-button-bg-angle), $color2, $color1, $color2) border-box;
    border: 1px solid transparent;
    color: var(--color-darker-white);

    &:hover {
        animation-play-state: running;
        color: var(--color-white);
    }

    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        /* Variable angle in gradient doesn't work in Safari (Dec 2024) - results in empty background */
        background:
            linear-gradient(to bottom, $bg-color, $bg-color) padding-box,
            conic-gradient(from 120deg, $color2, $color1, $color2) border-box;
    }
}

@mixin light-source-gradient($light-source-color, $background-color, $left: 80px, $top: 50px) {
    background: $background-color radial-gradient(ellipse at $left $top, $light-source-color 0%, 60%, rgba($background-color, 0));
}
