<tp-modal dialogTitle="Create user" [isBusy]="isSubmitting$ | async">
  <p class="description">Enter a username and password for the new user.</p>
  <tp-form [formGroup]="form" [isSubmitting$]="isSubmitting$" (doSubmit)="submit()">
    <tp-form-input [form]="form" field="username" label="Username" />
    <tp-form-password-input [form]="form" field="password" label="Password" />
    <div class="content-wrapper">
      <p><i class="fa-solid fa-triangle-exclamation"></i> <span class="admonition-header">Important</span></p>
      <p>Be sure to save the password in a safe place - it will not be shown again.</p>
    </div>
    <tp-form-actions
      [cancellable]="true" submitText="Create user" [isSubmitting]="isSubmitting$ | async"
      buttonIdPrefix="createDatabaseModal" (cancel)="close()"
    />
    @if (errorLines.length) {
      <mat-error>@for (line of errorLines; track line) {<p>{{ line }}</p>}</mat-error>
    }
  </tp-form>
</tp-modal>
